files: 
  "/home/ec2-user/new_relic_servers_setup.sh": 
    mode: "000755" 
    owner: root 
    group: root 
    content: | 
      #!/usr/bin/env bash 
      printf "license_key: 26952a025640e073b97cd75045963b06014823f8" | \
      sudo tee /etc/newrelic-infra.yml 
      printf "[newrelic-infra]\nname=New Relic Infrastructure\nbaseurl=http://download.newrelic.com/infrastructure_agent/linux/yum/el/6/x86_64\nenable=1\ngpgcheck=0" | \
      sudo tee /etc/yum.repos.d/newrelic-infra.repo 
      yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra' 
      sudo yum install newrelic-infra -y 
 
container_commands: 
  set_up: 
    command: /home/ec2-user/new_relic_servers_setup.sh 
